/*
 * Конфигурация бота LersBot
 */
{
	// Токен API, полученный от botfather
	"Token": "token",
	
	// Адрес сервера ЛЭРС УЧЁТ
	"LersServerAddress" : "serverAddress",
	
	// Порт сервера ЛЭРС УЧЁТ
	"LersServerPort" : "10000",
	
	// Список пользователей, которым доступен бот
	"Users":
	[
		// Описываем пользователей telegram и соответствующих им пользователей в ЛЭРС УЧЁТ
		{ "TelegramUser": "telegramUserName",	"LersUser": "lersUserName", "LersPassword": "lersPassword" },
		
		// Если нужен анонимный доступ, нужно описать пользователя telegram <anonymous> и 
		// соответсвующего ему пользователя ЛЭРС УЧЁТ. Лучше с ограниченными правами для демонстрации возможностей.
		{ "TelegramUser": "<anonymous>",		"LersUser": "lersUserName",	"LersPassword": "lersPassword" }
	]
}