<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{980FE93D-E0F8-4292-8CA0-B427F805104B}" Name="ЛЭРС УЧЁТ - Бот Telegram" Language="1049" Codepage="1251" Version="1.0.0.0" Manufacturer="ООО ЛЕРС-МЕНЕДЖЕР" UpgradeCode="8b075aa1-62c7-4024-8112-ac61229d02f7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>

		<MajorUpgrade DowngradeErrorMessage="Установлена более новая версия бота ЛЭРС УЧЁТ для Telegram."/>

		<Media Id="1" Cabinet="LersBot.Cab" EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="BotComponents"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="LersFolder" Name="LERS">
				<Directory Id="INSTALLFOLDER" Name="LersBot"/>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="BotComponents" Directory="INSTALLFOLDER">
			<Component Id="BotService" Guid="{6B691B8E-687B-4C04-B8DA-409595AE002B}">
				<File Id="LersBotExe" Source="..\LersBot\bin\Release\LersBot.exe" KeyPath="yes"></File>
        <File Id="LersBotExeConfig" Source="..\LersBot\bin\Release\LersBot.exe.config"></File>
				<File Id="NewtonsoftJsonDll" Source="..\LersBot\bin\Release\Newtonsoft.Json.dll"></File>
				<File Id="TelgramBotDll" Source="..\LersBot\bin\Release\Telegram.Bot.dll"></File>
				<File Id="LersFrameworkDll" Source="..\LersBot\bin\Release\Lers.System.dll"></File>
        <File Id="LersBotConfig" Source="..\LersBot\bot.config"></File>

				<ServiceInstall Id="BotServiceInstaller"
												Type="ownProcess"
												Vital="yes"
												Name="LersBotService"
												DisplayName="ЛЭРС УЧЁТ - Служба поддержки сообщений Telegram"
												Description="Служба предоставляет доступ к серверу ЛЭРС УЧЁТ посредством бота мессенджера Telegram."
												Start="auto"
												Account="LocalSystem"
												ErrorControl="ignore"/>

				<ServiceControl Id="BotServiceStart"  Stop="both" Remove="uninstall" Name="LersBotService"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
